#warning-btn{
    width: 100px;
    height: 40px;
    background-color: red;
    color: white;
    border-radius: 10px;
    margin-top: 300px;
    margin-left: 800px;
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}
#warning-btn:hover{
    scale: 1.1;
    background-color: rgb(244, 94, 94);
}